<template>
	<v-snackbar v-model="show" :timeout="timeout" :color="color">
		{{ text }}

		<template v-slot:action="{ attrs }">
			<v-btn text v-bind="attrs" @click="snackbar = false">
				Close
			</v-btn>
		</template>
	</v-snackbar>
</template>

<script>

import { bus } from '../main'

export default {
	name: 'Alert',

	components: { },

	data: function() {
		return {
			show: false,
			text: '',
			color: '',
			timeout: 2000
		}
	},

	methods: {
		showError: function(text) {
			this.text = text;
			this.show = true;
			this.timeout = 10000;
			this.color = 'brown darken-4';
		},

		showInfo: function(text) {
			this.text = text;
			this.show = true;
			this.color = 'blue-grey darken-4';
			this.timeout = 2000;
		},
	},

	created: function() {
		bus.$on('error', this.showError);
		bus.$on('info', this.showInfo);
	},
};
</script>

