<template>
	<v-dialog v-model="visible" max-width="600">
		<v-card>
			<v-card-title class="headline">Bibtex</v-card-title>
			<v-card-text>
				<template v-if="bibtex != ''">
					<!-- <v&#45;text&#45;field :value="bibtex" ref="bTextArea" rows="6" filled></v&#45;text&#45;field> -->
					<v-textarea :value="bibtex" ref="bTextArea" rows="6" filled></v-textarea>

					<span v-if="numMissing > 0">
						There's no bibtex defined for <strong>{{ numMissing }}</strong>
						out of {{ value.length }} selected papers.
					</span>

				</template>
				<template v-else>
					There's no bibtex defined for selected papers.
				</template>
			</v-card-text>
			<v-divider></v-divider>
			<v-card-actions>
				<v-spacer></v-spacer>
				<span v-if="copied" class="mr-2 text-caption">Copied!</span>
				<v-btn v-if="bibtex != ''" text @click="onCopy()">Copy</v-btn>
				<v-btn text @click="visible = []">Close</v-btn>
			</v-card-actions>
		</v-card>
	</v-dialog>
</template>

<script>

import { bus } from '../main'

export default {
	name: 'BibtexDialog',

	components: { },

	props: {
		value: Array
	},

	data: function() {
		return { 
			numMissing: 0,
			bibtex: '',
			copied: false
		}
	},

	methods: {
		onOpen: async function() {
			try {
				var resp = await this.$store.dispatch('papers/fetchBibtex');

				var sep = false;
				for (const r of resp) {
					if (!r.bibtex) {
						this.numMissing++;
						continue;
					}

					if (sep)
						this.bibtex += '\n\n';

					this.bibtex += r.bibtex;
					sep = true;
				}
			} catch(err) {
				bus.$emit('info', err);
			}
		},

		onClose: function() {
			this.numMissing = 0;
			this.bibtex = '';
		},

		onCopy: function() {
			let t = this.$refs.bTextArea.$el;
			let ta = t.getElementsByTagName('textarea');

			console.assert(ta.length == 1);
			ta[0].select()
			document.execCommand("copy");

			this.copied = true;
			setTimeout(() => {
				this.copied = false;
			}, 1500);
		}
	},

	computed: {
		visible: {
			get () {
				return this.value.length > 0;
			},
			set (visible) {
				if (!visible) {
					this.$emit('input', [])
				} else {
					this.$emit('input', visible)
				}
			}
		}
	},

	watch: {
		visible: function(v) {
			if (v) 
				this.onOpen();
			else
				this.onClose();
		}
	},

}

</script>
