<template>
	<v-dialog v-model="visible" max-width="600">
		<v-card>
			<v-progress-linear
				:active="deleting"
				:indeterminate="deleting"
				absolute top 
				color="blue accent-4"
			></v-progress-linear>

			<template  v-if="value.length == 1">
				<v-card-title class="headline">Delete the paper?</v-card-title>
				<v-card-text><b>{{value[0].title}}</b> will be deleted.</v-card-text>
			</template>
			<template v-else>
				<v-card-title class="headline">Delete {{ value.length }} papers?</v-card-title>
				<v-card-text>
					<v-list dense style="max-height: 200px" class="overflow-y-auto">
						<v-list-item v-for="paper in papers" :key="paper.paper_id">
							<v-list-item-icon>
								<v-icon v-if="paper.deleted">done</v-icon>
								<v-icon v-else>mdi-circle-small</v-icon>
							</v-list-item-icon>
							<v-list-item-content>
								<v-list-item-title>{{ paper.title }}</v-list-item-title>
								<v-list-item-subtitle>{{ paper.first_author }}</v-list-item-subtitle>
							</v-list-item-content>
						</v-list-item>
					</v-list>
				</v-card-text>
			</template>
			<v-divider></v-divider>
			<v-card-actions>
				<v-spacer></v-spacer>
				<v-btn text @click="visible = []">Cancel</v-btn>
				<v-btn text @click="onRemove()">Delete</v-btn>
			</v-card-actions>
		</v-card>
	</v-dialog>
</template>

<script>

import { bus } from '../main'

export default {
	name: 'PaperDeleteDialog',

	components: { },

	props: {
		value: Array
	},

	data: function() {
		return { 
			deleting: false,
			papers: [],
		}
	},

	methods: {
		onOpen: function() {
			this.papers = [];

			for (var p of this.value) {
				p.deleted = false;
				this.papers.push(p);
			}
		},

		onClose: function() {
			this.papers = []
		},

		onRemove: async function() {
			try {
				this.deleting = true;

				var deleted = [];

				for (var p in this.papers) {
					var paper = this.papers[p];

					await this.$store.dispatch('papers/remove', paper.paper_id);
					paper.deleted = true;

					deleted.push(paper.paper_id);

					this.$set(this.papers, p, paper);
				}

				this.$emit('delete', deleted)

				this.deleting = false;
				this.visible = [];
			} catch(err) {
				bus.$emit('error', err);
			}
		}
	},

	computed: {
		visible: {
			get () {
				return this.value.length > 0;
			},
			set (visible) {
				if (!visible)
					this.$emit('input', [])
				else
					this.$emit('input', visible)
			}
		}
	},

	watch: {
		visible: function(v) {
			if (v) 
				this.onOpen();
			else
				this.onClose();
		}
	},
}

</script>
