<template>
	<v-dialog v-model="visible" max-width="600">
		<v-card>
			<v-card-title v-if="papers.length==1" class="headline">Add tags to {{papers.length}} paper</v-card-title>
			<v-card-title v-else class="headline">Add tags to {{papers.length}} papers</v-card-title>
			<v-card-text>
				<v-autocomplete
					v-model="selected" :items="$store.state.tags.tags"
					dense auto-select-first 
					multiple
					chips small-chips deletable-chips
					:disabled="updating"
					outlined
					label="Choose Tags"
					item-text="name" item-value="tag_id"
				>
					<template v-slot:selection="data">
						<v-chip
							:key="data.item.tag_id" v-bind="data.attrs"
							:color="data.item.color"
							:input-value="data.selected"
							:disabled="data.disabled"
							@click:close="data.parent.selectItem(data.item)"
							outlined
							small
							close
						>
							{{ data.item.name }}
						</v-chip>
					</template>
				</v-autocomplete>
				<v-list dense style="max-height: 200px" class="overflow-y-auto">
					<v-list-item v-for="paper in papers" :key="paper.paper_id">
						<v-list-item-icon>
							<v-icon v-if="paper.tagged">done</v-icon>
							<v-icon v-else>mdi-circle-small</v-icon>
						</v-list-item-icon>
						<v-list-item-content>
							<v-list-item-title>{{ paper.title }}</v-list-item-title>
							<v-list-item-subtitle>{{ paper.first_author }}</v-list-item-subtitle>
						</v-list-item-content>
					</v-list-item>
				</v-list>
			</v-card-text>
			<v-divider></v-divider>
			<v-card-actions>
				<v-spacer></v-spacer>
				<v-btn text @click="visible = []"  :disabled="updating">Cancel</v-btn>
				<v-btn text @click="onAdd()" :disabled="updating || selected.length==0">Add</v-btn>
			</v-card-actions>
		</v-card>
	</v-dialog>
</template>

<script>
import { bus } from '../main'

export default {
	name: 'TagPapersDialog',

	components: { },

	props: {
		value: Array
	},

	data: function() {
		return { 
			updating: false,
			papers: [],
			selected: [],
		}
	},

	methods: {
		onOpen: function() {
			this.papers = [];
			for (var p of this.value) {
				p.tagged = false;
				this.papers.push(p);
			}
		},

		onClose: function() {
			this.updating = false;
			this.papers = [];
			this.selected = [];
		},

		onAdd: async function() {
			this.updating = true;

			try {
				for (var i in this.papers) {
					var paper = this.papers[i];

					var tags = [];
					for (const tag_id of this.selected) {
						for (const tag of this.$store.state.tags.tags) {
							if (tag.tag_id == tag_id)
								tags.push(tag);
						}
					}

					await this.$store.dispatch('papers/link', {
						paper_id: paper.paper_id,
						tags_ids: this.selected,
						tags: tags
					});

					paper.tagged = true;

					this.$set(this.papers, i, paper);
				}

				this.visible = [];
				this.selected = [];

			} catch(err) {
				bus.$emit('info', err);
			}

			this.updating = false;
		}
	},

	computed: {
		visible: {
			get () {
				return this.value.length > 0;
			},
			set (visible) {
				if (!visible) {
					this.$emit('input', [])
				} else {
					this.$emit('input', visible)
				}
			}
		}
	},

	watch: {
		visible: function(v) {
			if (v) 
				this.onOpen();
			else
				this.onClose();
		}
	},
}

</script>
